.appointment {
height:200px;
min-width: 150px;
transition:box-shadow 0.3s ease-in-out;
cursor: pointer;
}

.appointment:hover {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.19) 0px 3px 5px;
}