.consultant-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.consultant-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.consultant-list li:hover {
    background-color: #f0f0f0;
}
.consultant {
    height:200px;
    min-width: 150px;
    transition:box-shadow 0.3s ease-in-out;
    cursor: pointer;
    }
    
    .consultant:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.19) 0px 3px 5px;
    }